<% v = ViewNavbar.new(current_path: request.path)  %>

<header>
  <nav class="c-navbar navbar navbar-light navbar-expand-md fixed-top">
    <div class="container">
      <div class="d-inline-block">
        <div class="d-inline-block">
          <%= render 'shared/logo' %>
        </div>
      </div>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarCollapse">
        <ul class="navbar-nav  ms-auto">
          <li class="nav-item">
            <a class="nav-link my-0 <%= v.is_example_path? ? 'active' : '' %>" href="<%= examples_path %>">
              Examples
              <% if v.is_example_path? %>
              <span class="visually-hidden">(current)</span>
              <% end %>
            </a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle <%= v.is_section_path? ? 'active' : '' %>" href="<%= sections_path %>" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Sections
              <% if v.is_section_path? %>
                <span class="visually-hidden">(current)</span>
              <% end %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="<%= heroes_path %>">Heroes</a></li>
              <li><a class="dropdown-item" href="<%= features_path %>">Features</a></li>
              <li><a class="dropdown-item" href="<%= pricings_path %>">Pricings</a></li>
              <li><a class="dropdown-item" href="<%= settings_path %>">Settings</a></li>
              <li><a class="dropdown-item" href="<%= auths_path %>">Authentications</a></li>
              <li><a class="dropdown-item" href="<%= footers_path %>">Footers</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown2
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="c-navbar-button px-4 btn btn-primary " href="#">
              Buy it now <i class="bi bi-arrow-right"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
